header {
    width: 95%;
    height: 10vh;
    border-bottom: solid lightgrey 0.05em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5%;
}

#logo {
    font-weight: bold;
}

#recherche {
    border: 0.1em solid lightgrey;
    padding: 10px;
    border-radius: 30px;
}

header nav .item {
    height: 64px;
    border-left: solid lightgrey 0.01em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 5px;
}

header nav .item:first-child{
    border:none;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

header nav .item img {
    height: 20px;
    width: 20px;
}

#profil:hover #nav_profil {
    display: block;
}

#nav_profil {
    display: block;
    position: fixed;
    top: 52px;
    right: 1px;
    border: solid lightgrey 0.05em;
    border-radius: 20px ;
}

#nav_profil p {
    border-bottom: solid lightgrey 0.05em;
    width: 100%;
}